.map-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 50%;
  height: 50%;
}

.map-fit-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
}

.map-container-fast-switch {
  position: absolute;
  top: 52%;
  bottom: 0;
  left: 0;
  right: 50%;
  height: 50%;
}
.map-info-fast-switch {
  position: absolute;
  top: 50%;
  bottom: 0;
  left: 0;
  right: 50%;
}

.map-container-outdoor {
  position: absolute;
  top: 2%;
  bottom: 0;
  left: 50%;
  right: 0;
  height: 50%;
}

.map-info-outdoor {
  position: absolute;
  bottom: 0;
  left: 50%;
  top: 0;
  right: 0;
}

.map-container-albers {
  position: absolute;
  top: 52%;
  bottom: 0;
  left: 50%;
  right: 0;
  height: 50%;
}

.map-info-albers {
  position: absolute;
  top: 52%;
  bottom: 0;
  left: 50%;
  height: 12px;
}

.sidebarStyle {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  background-color: #404040;
  color: #ffffff;
  z-index: 1 !important;
  padding: 6px;
  font-weight: bold;
}
